-i https://pypi.org/simple/
attrs==21.2.0
blis==0.4.1
certifi==2021.5.30
chardet==4.0.0
cymem==2.0.5
idna==2.10
importlib-metadata==4.4.0 ; python_version < '3.8'
more-itertools==8.8.0
murmurhash==1.0.5
nltk==3.3.0
numpy==1.20.3
packaging==20.9
pandas==0.25.3
plac==0.9.6
pluggy==0.13.1
preshed==3.0.5
py==1.10.0
pyparsing==2.4.7
pytest==5.3.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scipy==1.4.1
six==1.16.0
spacy-wordnet==0.0.4
spacy==2.2.0
srsly==1.0.1
thinc==7.1.1
tqdm==4.61.0
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
wasabi==0.8.2
wcwidth==0.2.5
zipp==3.4.1
